<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e6e9c3">  <td>17/12/07 23:39:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="checkDragAndDrop.checkDrag()[pri:0, instance:junit.DrapAndDrop.checkDragAndDrop@3532ec19]">checkDrag</td> 
  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>17/12/07 23:39:03</td>   <td>-2992</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;checkDragAndDrop.setUp()[pri:0, instance:junit.DrapAndDrop.checkDragAndDrop@3532ec19]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="e6e9c3">  <td>17/12/07 23:39:09</td>   <td>2208</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;checkDragAndDrop.tearDown()[pri:0, instance:junit.DrapAndDrop.checkDragAndDrop@3532ec19]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
</table>
